/*HELPER STYLE START*/

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

.highlight {
    text-align: center;
    padding: 4px 6px;
    background: rgba(255, 255, 255, .9);
    color: rgba(41, 56, 76, 1);
}

.show-border {
    border: 2px solid red;
    z-index: 2;
}

.is-vertical-centered {
    display: flex;
    justify-content: center;
}

/*HELPER STYLE END*/

/*MAIN BANNER STYLE START*/

.main-banner {
    background-image: url("https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(41, 56, 76, .9);
    height: 100%;
    width: 100%;
}

.main-banner .logo {
    padding: 0 0 0 1%;
}

.logo:hover a h1{
    color: rgba(240, 96, 96, .9);
}

.logo:hover .highlight {
    background: rgba(240, 96, 96, .9);
    color: rgba(255, 255, 255, .9);;
}

.main-banner .logo h1 {
    font-size: 15px;
    color: rgba(255, 255, 255, .9);;
}

.main-banner .title {
    color: rgba(255, 255, 255, .9);;
    border-bottom: 4px solid rgba(255, 255, 255, .9);;
    font-size: 75px;
    padding-bottom: 20px;
}

.main-banner .subtitle {
    margin-top: 20px;
    font-size: 40px;
    color: rgba(255, 255, 255, .9);;
}

.main-banner .explore {
    margin-bottom: 30px;
}

.main-banner .explore .button {
    border: 3px solid rgba(255, 255, 255, .9);;
    border-radius: 15px;
    padding: 25px 50px 25px 50px;
    background: none;
    font-size: 30px;
    color: rgba(255, 255, 255, .9);;
}

.main-banner .explore .button:hover {
    border-color: rgba(240, 96, 96, 1);
    color: rgba(240, 96, 96, 1);
}

/*MAIN BANNER STYLE END*/

/*PROJECT STYLE START*/

.project {
    padding: 300px 100px 300px 100px;
}

.project .title {
    color: rgba(255, 255, 255, .9);
    width: 90%;
    padding-bottom: 15px;
    border-bottom: 4px solid rgba(255, 255, 255, .9);;
    font-size: 50px;
}

.project .subtitle {
    color: rgba(255, 255, 255, .9);;
    margin-top: 10px;
    font-size: 20px;
}

.project1 {
    background-image: url("https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(240, 96, 96, .9);
}

.project1:hover {
    box-shadow: inset 0 0 0 1000px rgba(240, 96, 96, .7    );
}

.project2 {
    background-image: url("https://images.pexels.com/photos/450441/pexels-photo-450441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(243, 181, 98, .9);
}

.project2:hover {
    box-shadow: inset 0 0 0 1000px rgba(243, 181, 98, .7);

}

.project3 {
    background-image: url("https://images.pexels.com/photos/746421/pexels-photo-746421.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(140, 190, 178, .9);
}

.project3:hover {
    box-shadow: inset 0 0 0 1000px rgba(140, 190, 178, .7);
}

.project4 {
    background-image: url("https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(92, 75, 81, .9);
}

.project4:hover {
    box-shadow: inset 0 0 0 1000px rgba(92, 75, 81, .7);
}

/*PROJECT STYLE END*/

/*FOOTER STYLE START*/

.footer {
    background: #29384C;
    padding: 25px 0 25px 0;
}

.footer .footer-content {
    color: rgba(255, 255, 255, .9);;
    font-size: 40px;
}

.footer .footer-content a {
    margin-left: 25px;
}

.footer .footer-content a:hover {
    color: rgba(240, 96, 96, 1);
}

.footer .title {
    margin-top: 10px;
    color: rgba(255, 255, 255, .9);;
    font-size: 20px;
    font-weight: 200;
}

.footer .subtitle {
    color: rgba(255, 255, 255, .9);;
    font-size: 11px;
}

.footer #email {
    display: none;
}

/*FOOTER STYLE END*/
