/*HELPER STYLE START*/

::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

a {
    text-decoration: none;
}

textarea {
   display: none;
}

.highlight {
    text-align: center;
    padding: 4px 6px;
    background: rgba(255, 255, 255, .9);
    color: rgba(41, 56, 76, 1);
}

.show-border {
    border: 2px solid red;
    z-index: 2;
}

.is-vertical-centered {
    display: flex;
    justify-content: center;
}

#WIP {
    color: rgba(240, 96, 96, .9);
    font-size: 15px;
}

#WIP .highlight {
    background: rgba(240, 96, 96, .9);
    color: white;
}

.more-details {
    color: rgb(51, 61, 67);
}

.project:hover {
    color: white;
}

.modal-content {
    color: rgba(255, 255, 255, 0.8)
}

.modal-content .title {
    color: rgba(240, 96, 96, .9);
}
/*HELPER STYLE END*/

/*MAIN BANNER STYLE START*/

/*Phone*/
@media only screen and (max-width : 767px) {
    /* Styles */
    .main-banner {
        background-image: url("https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-position: center;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(41, 56, 76, .9);
        height: 100vh;
        width: 100vw;
    }
    
    .main-banner .logo {
        padding: 0 0 0 1%;
    }
    
    .logo:hover a h1 {
        color: rgba(240, 96, 96, .9);
    }
    
    .logo:hover .highlight {
        background: rgba(240, 96, 96, .9);
        color: rgba(255, 255, 255, .9);
        ;
    }
    
    .main-banner .logo h1 {
        font-size: 15px;
        color: rgba(255, 255, 255, .9);
        ;
    }

    .hero-body {
        margin-top: -20px;
    }
    
    .main-banner .title {
        color: rgba(255, 255, 255, .9);
        ;
        border-bottom: 4px solid rgba(255, 255, 255, .9);
        ;
        font-size: 37px;
        padding-bottom: 20px;
    }
    
    .main-banner .subtitle {
        margin-top: 20px;
        font-size: 17px;
        color: rgba(255, 255, 255, .9);   
        margin-bottom: 30px;
    }

    #WIP {
        font-size: 15px;
        line-height: 50px;
    }
    
    .main-banner .explore {
        margin-top: -30px;
        margin-bottom: 10px;
    }
    
    .main-banner .explore .button {
        border: 3px solid rgba(255, 255, 255, .9);
        border-radius: 10px;
        padding: 20px 45px 20px 45px;
        background: none;
        font-size: 20px;
        color: rgba(255, 255, 255, .9);
        ;
    }
    
    .main-banner .explore .button:hover {
        border-color: rgba(240, 96, 96, 1);
        color: rgba(240, 96, 96, 1);
    }

    .project {
        padding: 100px 50px 100px 50px;
    }

    .project .title {
        color: rgba(255, 255, 255, .9);
        width: 90%;
        padding-bottom: 15px;
        border-bottom: 4px solid rgba(255, 255, 255, .9);
        ;
        font-size: 25px;
    }
    
    .project .subtitle {
        color: rgba(255, 255, 255, .9);
        margin-top: 10px;
        font-size: 10px;
    }

    .modal .modal-content {
        overflow: auto;
        font-size: 10px;
    }

    .modal .modal-content .title {
        font-size: 15px;
    }

    .footer .footer-content {
        color: rgba(255, 255, 255, .9);
        ;
        font-size: 30px;
    }

    .footer .title {
        margin-top: 10px;
        color: rgba(255, 255, 255, .9);
        ;
        font-size: 15px;
        font-weight: 200;
    }
    
    .footer .subtitle {
        color: rgba(255, 255, 255, .9);
        ;
        font-size: 11px;
    }
}

/*Tablet*/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    /* Styles */
    .main-banner {
        background-image: url("https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-position: center;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(41, 56, 76, .9);
        height: 100vh;
        width: 100vw;
    }
    
    .main-banner .logo {
        padding: 0 0 0 1%;
    }
    
    .logo:hover a h1 {
        color: rgba(240, 96, 96, .9);
    }
    
    .logo:hover .highlight {
        background: rgba(240, 96, 96, .9);
        color: rgba(255, 255, 255, .9);
        ;
    }
    
    .main-banner .logo h1 {
        font-size: 15px;
        color: rgba(255, 255, 255, .9);
        ;
    }

    .main-banner .hero-body {
        margin-top: -150px;
    }
    
    .main-banner .title {
        color: rgba(255, 255, 255, .9);
        ;
        border-bottom: 4px solid rgba(255, 255, 255, .9);
        ;
        font-size: 60px;
        padding-bottom: 20px;
    }
    
    .main-banner .subtitle {
        margin-top: 20px;
        font-size: 30px;
        color: rgba(255, 255, 255, .9); 
    }
    
    .main-banner .explore {
        margin-bottom: 30px;
    }
    
    .main-banner .explore .button {
        border: 3px solid rgba(255, 255, 255, .9);
        border-radius: 10px;
        padding: 23px 47px 22px 47px;
        background: none;
        font-size: 25px;
        color: rgba(255, 255, 255, .9);
        ;
    }
    
    .main-banner .explore .button:hover {
        border-color: rgba(240, 96, 96, 1);
        color: rgba(240, 96, 96, 1);
    }

    .project {
        padding: 100px 50px 100px 50px;
    }

    .project .title {
        color: rgba(255, 255, 255, .9);
        width: 90%;
        padding-bottom: 15px;
        border-bottom: 4px solid rgba(255, 255, 255, .9);
        ;
        font-size: 25px;
    }

    
    .project .subtitle {
        color: rgba(255, 255, 255, .9);
        ;
        margin-top: 10px;
        font-size: 15px;
    }
    
    .modal .modal-content {
        overflow: auto;
        font-size: 17px;
    }

    .modal .modal-content .title {
        font-size: 25px;
    }


    .footer .footer-content {
        color: rgba(255, 255, 255, .9);
        ;
        font-size: 30px;
    }

    .footer .title {
        margin-top: 10px;
        color: rgba(255, 255, 255, .9);
        ;
        font-size: 15px;
        font-weight: 200;
    }
    
    .footer .subtitle {
        color: rgba(255, 255, 255, .9);
        ;
        font-size: 11px;
    }
}

/*Laptops and Desktops*/
@media only screen and (min-width : 1025px) {
    /* Styles */
    .main-banner {
        background-image: url("https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-position: center;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(41, 56, 76, .9);
        height: 100vh;
        width: 100vw;
    }
    
    .main-banner .logo {
        padding: 0 0 0 1%;
    }
    
    .logo:hover a h1 {
        color: rgba(240, 96, 96, .9);
    }
    
    .logo:hover .highlight {
        background: rgba(240, 96, 96, .9);
        color: rgba(255, 255, 255, .9);
        ;
    }
    
    .main-banner .logo h1 {
        font-size: 15px;
        color: rgba(255, 255, 255, .9);
        
    }

    .main-banner .title {
        color: rgba(255, 255, 255, .9);
        ;
        border-bottom: 4px solid rgba(255, 255, 255, .9);
        ;
        font-size: 75px;
        padding-bottom: 20px;
    }
    
    .main-banner .subtitle {
        margin-top: 20px;
        font-size: 40px;
        color: rgba(255, 255, 255, .9);
        
    }
    
    .main-banner .explore {
        margin-bottom: 30px;
    }
    
    .main-banner .explore .button {
        border: 3px solid rgba(255, 255, 255, .9);
        border-radius: 10px;
        padding: 25px 50px 25px 50px;
        background: none;
        font-size: 30px;
        color: rgba(255, 255, 255, .9);
        ;
    }
    
    .main-banner .explore .button:hover {
        border-color: rgba(240, 96, 96, 1);
        color: rgba(240, 96, 96, 1);
    }

    .project {
        padding: 200px 100px 200px 100px;
    }

    .project .title {
        color: rgba(255, 255, 255, .9);
        width: 90%;
        padding-bottom: 15px;
        border-bottom: 4px solid rgba(255, 255, 255, .9);
        ;
        font-size: 45px;
    }
    
    .project .subtitle {
        color: rgba(255, 255, 255, .9);
        ;
        margin-top: 10px;
        font-size: 18px;
    }
    
    .modal .modal-content {
        overflow: auto;
        font-size: 20px;
    }


    .footer .footer-content {
        color: rgba(255, 255, 255, .9);
        ;
        font-size: 40px;
    }

    .footer .title {
        margin-top: 10px;
        color: rgba(255, 255, 255, .9);
        ;
        font-size: 20px;
        font-weight: 200;
    }
    
    .footer .subtitle {
        color: rgba(255, 255, 255, .9);
        ;
        font-size: 11px;
    }
}


/*MAIN BANNER STYLE END*/

/*PROJECT STYLE START*/

.project1 {
    background-image: url("https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(240, 96, 96, .9);
}

.project1:hover {
    box-shadow: inset 0 0 0 1000px rgba(240, 96, 96, .85);
}

.project2 {
    background-image: url("https://images.pexels.com/photos/450441/pexels-photo-450441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(243, 181, 98, .9);
}

.project2:hover {
    box-shadow: inset 0 0 0 1000px rgba(243, 181, 98, .85);

}

.project3 {
    background-image: url("https://images.pexels.com/photos/746421/pexels-photo-746421.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(140, 190, 178, .9);
}

.project3:hover {
    box-shadow: inset 0 0 0 1000px rgba(140, 190, 178, .85);
}

.project4 {
    background-image: url("https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(160, 128, 140, 0.9);
}

.project4:hover {
    box-shadow: inset 0 0 0 1000px rgba(160, 128, 140, .85);
}

/*PROJECT STYLE END*/

/*FOOTER STYLE START*/

.footer {
    background: #29384C;
    padding: 25px 0 25px 0;
}

.footer .footer-content a {
    margin-left: 25px;
}

.footer .footer-content a:hover {
    color: rgba(240, 96, 96, 1);
}

/*FOOTER STYLE END*/
