@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Catamaran|Nanum+Gothic+Coding|Noto+Sans|Questrial');

/* GLOBAL STYLES */
html {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.is-vcentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HOME PAGE STYLES */
#home-page {
    padding: 0;
    margin: 0;
}

#home-page .columns {
   margin: 0;
}

/* LEFT SIDE STYLES */
#particles-js {
    background-image: url("https://images.pexels.com/photos/869258/pexels-photo-869258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(33, 49, 63, .9);
    height: 100vh;
}

#particles-js .name {
    color: rgba(216, 212, 210, 1);
    font-size: 50px;
    margin-bottom: 12px;
    font-family: 'Noto Sans', sans-serif;
}

#particles-js .subtitle {
    font-size: 20px;
    color: rgba(216, 212, 210, 1);
    margin: auto;
    padding-top: 10px;
    margin-top: -10px;
    margin-bottom: 15px;
    font-family: 'Questrial', sans-serif;
    border-top: 1px solid;
    width: 300px;
    border-color: #D8726B;
}

#particles-js #media-buttons {
    width: 200px;
    font-size: 25px;
    margin: auto;
}

#particles-js #media-buttons a {
    color: rgba(216, 212, 210, 1);
    position: relative;
}
#particles-js #media-buttons a:hover {
    color: #D8726B;
}


/* RIGHT SIDE STYLES */
#right-side-home {
   height: 100vh;
}

#right-side-home #right-side-content {
    width: 90%;
    margin: auto;
}

#right-side-home #right-side-content #about-me {
    width: 60%;
    margin: auto;
}

#right-side-home #right-side-content #about-me p {
    color: rgba(33, 49, 63, .6);
    font-family: 'Questrial', sans-serif;
    text-align: left;
}

#right-side-home .right-side-title {
    color: rgba(33, 49, 63, 1);
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 12px;
}

#right-side-home #horizontal-line {
    border-top: 2px solid;
    border-color: #D8726B;
    margin: -10px auto 15px auto;
    width: 200px;
}

#right-side-home .button {
    margin-top: 15px;
    border-color: rgba(33, 49, 63, .5);
    color: rgba(33, 49, 63, .5);
    font-family: 'Questrial', sans-serif;
}

#right-side-home .button:hover {
    border-color: rgba(33, 49, 63, 1);
    background: rgba(33, 49, 63, 1);
    color: rgba(216, 212, 210, 1);
}



/* Project page styles */

#project-page {
    height: 100vh;
    width: 100vw;
}

#project-page .project-title {
    color: rgba(33, 49, 63, 1);
    font-size: 65px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 12px;

}

#project-page .horizontal-line {
    border-bottom: 2px solid;
    border-color: #D8726B;
    width: 250px;
    margin: auto;
    margin-bottom: 30px;
}

#project-page .project-section {
    width: 75vw;
    margin: auto;
}

#project-page .card .media-content .subtitle {
    color: #D8726B;
}

#project-page  .card .content {
    text-align: left;
}

/* Canvas Styles */
canvas {
    position: absolute;
}